name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.23
        cache: true

    - name: Build
      run: go build -v ./...

    - name: Clean Test Cache
      run: go clean -testcache

    - name: Test
      run: go run gotest.tools/gotestsum@latest -f github-actions --junitfile ./test-results/junit.xml --format-hide-empty-pkg --junitfile-hide-empty-pkg
      env:
        PORT_CLIENT_ID: ${{ secrets.PORT_CLIENT_ID }}
        PORT_CLIENT_SECRET: ${{ secrets.PORT_CLIENT_SECRET }}
        PORT_BASE_URL: ${{ secrets.PORT_BASE_URL }}

    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v4
      if: ${{ always() }}
      with:
        report_paths: './test-results/junit.xml'
        include_passed: true
        require_tests: true
        fail_on_failure: true
